<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Add Internship</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="../static/style/style.css">


	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
		<img class="#" src="../static/logo.png">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
			aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('trending') }}">Trending</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="{{ url_for('add_internship') }}">Add Internship</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('home') }}">Log Out</a>
				</li>
			</ul>
		</div>
	</nav>


	<!-- Blue polygon background -->

	<div class="blue-triangle"></div>
	<div class="rectangle"></div>



	<!-- Login form -->
	<div class="input-form">
		<div class="col-md-6 col-lg-4">
			<form action="/add-internship" method="POST">
				<h2 class="text-center mb-4">Add An Internship</h2>
				<div class="form-group">
					<label for="internship-name">Internship Name</label>
					<input type="text" class="form-control" id="internship-name" name="internship_name" required>
				</div>
				<div class="form-group">
					<label for="duration">Duration</label>
					<input type="duration" class="form-control" id="duration" name="duration" required>
				</div>
				<div class="form-group">
					<label for="start-date">Start Date (Month Day, Year)</label>
					<input type="start-date" class="form-control" id="start-date" name="start_date" required>
				</div>
				<div class="form-group">
					<label for="end-date">End Date (Month Day, Year)</label>
					<input type="end-date" class="form-control" id="end-date" name="end_date" required>
				</div>
				<div class="form-group">
					<label for="location">Location</label>
					<input type="location" class="form-control" id="location" name="location" required>
				</div>
				<div class="form-group">
					<label for="tags">Tags</label>
					<input type="tags" class="form-control" id="tags" name="tags"
						placeholder="Enter tag information to describe your internship in this format: tag1/image_url_1,tag_2/image_url_2,..."
						required>
				</div>
				<div class="form-group">
					<label for="password">Link to Website</label>
					<input type="link" class="form-control" id="link" name="link" required>
				</div>
				<button type="submit" class="btn btn-primary btn-block mb-3">Add Internship</button>
				<div>
					{% with messages = get_flashed_messages() %}
					{% if messages %}
					{% for msg in messages %}
					<p>{{msg}}</p>
					{% endfor %}
					{% endif %}
					{% endwith %}
				</div>
			</form>
		</div>

	</div>



	<!-- Bootstrap JavaScript -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>