<!DOCTYPE html>
<html>
	
<head>
	<meta charset="UTF-8">
	<title>Interests</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<!-- Custom CSS -->

	<link rel="stylesheet" href="../static/style/style.css">
	<link rel="stylesheet" href="../static/style/trending_style.css">




	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
		<img class="#" src="../static/logo.png">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
			aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('trending') }}">Trending</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="{{ url_for('interests') }}">Interests</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('home') }}">Log Out</a>
				</li>
			</ul>
		</div>
	</nav>

	<!-- Blue polygon background -->

	<div class="blue-triangle"></div>
	<div class="rectangle"></div>
	
	

	<div class="input-form">
		<div class="col-md-6 col-lg-4">
			<form action="/interests" method="POST">
				<h2 class="text-center mb-4">Internship Search</h2>
				<div class="form-group">
					<label for="internship-search">Search For An Internship</label>
					<input type="text" class="form-control" id="internship-search" name="internship_search" required>
				</div>
				<button type="submit" class="btn btn-primary btn-block mb-3">Search</button>
				<div>
					{% with messages = get_flashed_messages() %}
					{% if messages %}
					{% for msg in messages %}
					<p>{{msg}}</p>
					{% endfor %}
					{% endif %}
					{% endwith %}
				</div>
			</form>
		</div>
	</div>
	<!--User's Feed-->
	<h2 class="text-center mb-4">My Feed</h2>
	<div class="container">
		{% for card in cards %}
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="tag_image">
						<img src="{{ card.image_url }}" alt="Image">
					</div>

					<div class="card_title">#{{ card.counter }}: {{ card.title }}</div>
					<p class="internship-description">
						Duration: {{ card.duration }}<br>
						Start Date: {{ card.start_date }}<br>
						End Date: {{ card.end_date }}<br>
						Location: {{ card.location }}<br>
						Students Interested: {{ card.num_interested }}
					</p>
					<a href="{{ card.link }}" class="non-search-btn btn-primary learn-more" target="_blank">Learn
						More</a>
					 <form action="/interests" method="post">
						<input type="hidden" name="internship_name" value="{{ card.title }}">
					</form> 
				</div>
			</div>
		</div>
		{% endfor %}
	</div>















	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>